.navbar{
    background-color: black;
    width: 100%;
    display: flex; 
    align-items: center;
    padding: 0;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
header a{
    color: aliceblue;
    text-decoration: none;
    position: relative;
}
header>nav>ul>li>a:link, header>nav>ul>li>a:hover, header>nav>ul>li>a:active { color: aliceblue; text-decoration: none; }
header>nav>ul>li>a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: #f14d34; /*задаём цвет линии*/
	content: "";
	transition: width 0.4s ease-out; /*задаём время анимации*/
}

header>nav>ul>li>a:hover:after,
header>nav>ul>li>a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.menu{
    display: flex; 
    align-items: center;
    padding: 0;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
header input, header ul { 
    display: none;
    
    /* Прячем */ }
:checked ~ ul {
    background-color: #f14d34;
    
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

.check-menu{
    float: right;
}
header nav{
    display: none;
}




header{
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: aliceblue;
    
}
.header__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }
header nav ul li{
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1.2px;
    float: right;
}
header nav ul{
    float: right;
}
header nav{
    float: right;
}



.header-title{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.header-text-info{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.right-col{
    text-align:center;
}
.header-cont{
    flex-direction: column;
}
.advantages-header{
    border-left: 5px solid #f14d34;
    font-size: 12px;
    letter-spacing: 1.2px;  
} 
@media screen and (min-width: 768px){
    .navbar{
        background-color: transparent;
        width: auto;
        flex-direction: row-reverse;
        position:static;
        bottom: auto;
        z-index: 1;
    }
    #menu1{display: none;}


    header ul { 
        background-color: transparent;
        display: flex; 
        flex-direction: row;
        /* Прячем */ }
    :checked ~ ul {
        background-color: transparent;
        display: flex; 
        flex-direction: row-reverse;
        
        }


    .check-menu{ display: none;}
    /*---header ---*/
    .button-menu{
        display: none;
    }
    .menu{
        background-color: transparent;
        position:relative;
        display: inline;
        order: 0;
    }
    header nav{
        display:inline;
    }
    .right-col{
        text-align:unset;
    }
    .header-cont{
        flex-direction: unset;
    }

    .navigation{
        padding-left: 15vw;
        padding-right: 15vw;
    }
}