a{
    color: aliceblue;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 12px;
    letter-spacing: 1.5px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f14d34;;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d83016;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: rgb(192, 70, 0);} */


.block-main-btn{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    padding: 22px 20px;
    width: 220px;
    max-width: 100%;
    text-align: center;
    border: 2px solid #f14d34;
    border-radius: 5px;
    transition: background .3s;
    margin-bottom: 45px;
}
.block-main-btn:focus,.block-main-btn:hover,.block-main-btn:active {
    background: #f14d34;
    text-decoration: none;
    color: #fff
}


html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/*---body---*/
body {
    min-height: 100%;
}
/*---header---*/
header{
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: aliceblue;
    
}
.header__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }
header nav ul li{
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1.5px;
    float: right;
}
nav ul{
    float: right;
}
nav{
    float: right;
}

.header-title{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.header-text-info{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.right-col{
    text-align:center;
}
.header-cont{
    flex-direction: column;
}
.advantages-header{
    border-left: 5px solid #f14d34;
    font-size: 14px;
    letter-spacing: 1.5px;  
} 

/*
.button-tariff{
    border: 3px solid rgb(255, 145, 0);;
}
*/

  /*---main ---*/
#block-name-1, #block-name-2, #block-name-3, 
#block-name-4, #block-name-5, #block-name-6,
#block-name-7, #block-name-8, #block-name-9{
    text-align: center;
}
.b-bottom{
    background-color: rgb(209, 207, 212);
    width: 100%;
}
.b-main{
    background-color: rgb(235, 232, 238);
    width: 100%;
}
.b-info-1 img{
    max-width: 81px;
    max-height: 81px;
}

.b-info-3 p{
    border-left: 4px solid rgb(139, 106, 168);
    padding: 5px;
}
.square p{
    background-color: rgb(173, 173, 175);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.square img{
    float:right;
    padding:0;
    margin:0;
    width: 84px;
    height: 84px;
}
.square span{
    position: absolute;
    padding: 5%;
}

.b-info-4 div{
    text-align: center;
}

.hidden-1, .hidden-2, .hidden-3{
    display: none;
}


@media screen and (min-width: 768px){

  /*---header ---*/
.menu{
    order: 0;
}
.right-col{
    text-align:unset;
}
.header-cont{
    flex-direction: unset;
}

.navigation{
    padding-left: 15vw;
    padding-right: 15vw;
}
  /*---main ---*/
    .b-bottom, .b-main{
        padding-left: 15vw;
        padding-right: 15vw;
    }
    #side-img{
        right: 15vw;
    }

}